/* Styles for the movie details container */
.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Styles for movie poster */
.movie-poster {
  max-width: 300px;
  height: auto;
}

/* Styles for movie title */
.movie-title {
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
}

/* Styles for movie release date */
.movie-release-date {
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}

/* Styles for movie runtime */
.movie-runtime {
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}

/* Styles for movie overview */
.movie-overview {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

/* Styles for the homepage container */
.homepage-container {
  display: fle;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


/* Styles for the hero section */
.hero-section {
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  margin: -28px;
}

/* Styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
}

/* Styles for the logo */
.logo {
  height: 50px;
  margin-left: 6px;
  margin-right: 0;
  /* tv */
  background: url(../public/tv.svg);
  background-repeat: no-repeat;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.logo h2 {
  margin-left: 60px;
}

/* Styles for the search bar */
.search-bar {
  display: flex;
  width: 400px;
  align-items: center;
  margin-left: 20px;
  color: #fff;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
  background-color: transparent; /* Set the background to white */
  color: #f5f2f2; /* Set the text color to black */
}

.search-icon {
  margin-left: -35px;
}

/* To style the placeholder text */
.search-bar input[type="text"]::placeholder {
  color: #faf7f7; /* Set the placeholder text color to black */
}

/* Styles for the sign-in button */
.sign-in {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  
}

/* Styles for the hero content */
.hero-content {
  color: #fff;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero-content button {
  background: #BE123C;/* Button background color */
  color: #fff; /* Button text color */
  cursor: pointer;
  font-size: 0.9rem;
  padding: 15px;
  padding: 10px, 19px, 10px, 19px;
  border-radius: 7px;
  border-color: rgb(219, 131, 23);
  
}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* Styles for the search button on hover */
.hero-content button:hover {
  background-color: #f72056; /* Button background color on hover */
}

.left {
  flex: 1;
  padding: 20px;
  float: left;
  top: 8px;
  gap: 16px;
  max-width: 400px; 
  padding: 6px, 16px, 6px, 16px;
  border-radius: 6px;
  gap: 8px;
  margin-top: 100px;
}
h1 {
  margin-top: 50px;
}

/* Styles for movie cards */
.search-results,
.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  grid-gap: 50px; /* Gap between grid items */
  max-width: 100%; /* Adjust this width as needed */
  margin-top: 35px;
  justify-content: center;
}

/* Styles for movie cards (no need to change this part) */
.movie-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Each card takes full width of its container */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.movie-card:hover {
  transform: scale(1.05);
}

/* Styles for movie card images */
.movie-card img {
  max-width: 100%;
  height: auto;
}

/* Styles for movie card titles */
.movie-card h2 {
  font-size: 16px;
  margin: 5px 0;
}

/* Styles for movie card release dates */
.movie-card p {
  font-size: 14px;
  color: #777;
}

.movie-card a {
  text-decoration: none;
  color: black;
}

/* Define the 'heart-shape' class with the desired color */
.heart-shape {
  fill: #D1D5DB; /* Default color for the heart */
  transition: fill 0.3s; /* Add a transition for a smooth color change */
}

/* Add a separate class for the red color */
.red-color .heart-shape {
  fill: red; /* Change the fill color of the heart to red when the parent has the 'red-color' class */
}

/* Style the container for the image and HeartIcon */
.image-container {
  position: relative;
}

/* Style the HeartIcon */
.favorite-icon {
  position: absolute;
  top: 10px; /* Adjust the top position to your preference */
  right: 10px; /* Adjust the right position to your preference */
  cursor: pointer;
  transition: transform 0.3s;
}

/* Add a 'favorite' class to change the HeartIcon's appearance when clicked */
.favorite {
  transform: scale(1.2); /* Example: Increase the size of the HeartIcon when it's a favorite */
  fill: red; /* Example: Change the fill color when it's a favorite */
}

.footer {
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(224, 222, 222, 0.5);
}

.social-icons a {
  color: #131212;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #55acee; /* Twitter blue */
}

.social-icons i {
  vertical-align: middle;
}

footer p {
  color: #131212;
}


@media (max-width: 767px) {
  /* For screens up to 767px (e.g., small screens) */
  .search-results,
  .movie-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }

  .sign-in h2,
  .logo h2 {
    visibility: hidden; /* Hide the h2 element */
  }

  .search-bar {
    width: 40px;
    margin-left: -200px;
  }
}